{% extends 'Base.html' %}

{% block content %}
    <h1>Welcome to CS game</h1>
    <hr>
    <article>
        <h2>Professional bodies</h2>
        <p>Professionals (e.g., architects, engineers, medics) must accept responsibility for their actions, especially when a mistake could be disastrous.</p>
    </article>
      
    <article>
        <h2>Microsoft Edge</h2>
        <p>Microsoft Edge is a web browser developed by Microsoft, released in 2015. Microsoft Edge replaced Internet Explorer.</p>
    </article>
{% endblock %}